[Unit]
Description=Regex daemon for BlueField 2

[Service]
Type=simple
ExecStart=/usr/bin/mlx-regex
RemainAfterExit=no
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPre=/usr/sbin/mlx_regex_setup_hugepages.sh

[Install]
WantedBy=multi-user.target
